<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>All Chats</h1>
    <% for (let chat of chats){ %>
        <div class="allChats">
            <p> <i> From: <%= chat.from %> </i></p>
            <p> <i> Received By: <%= chat.to %></i> </p>
            <div class="msg"> Message: <%= chat.msg %>
            </div>
            <hr>
            <p>Time: <%= chat.created_at.toString().split(" ")[4] %> </p>
            <p>Date: <%= chat.created_at.toString().split(" ").slice(0,4).join(" -") %>
            </p>

            <form method="get" action="/chats/<%=chat._id %>/edit">
                <button>Edit</button>
            </form>
            <form method="get" action="/chats/<%=chat._id%>">
                <button>Show</button>
            </form>
            <form method="post" action="/chats/<%=chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        <br><br>
        <% } %>

            <form method="get" action="/chats/new">
                <button>New Chat</button>
            </form>

</body>

</html>